@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --base-light: hsl(0, 0%, 100%);
  --base-dark: hsl(0, 0%, 0%);
}

.text-dark {
  color: var(--base-dark);
  text-shadow: 8px 6px 7px white, -6px -6px 9px white;
}

.text-light {
  color: var(--base-light);
  text-shadow: 8px 6px 7px black, -6px -6px 9px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;

  width: inherit;
  height: inherit;
}

.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.showcase1 {
  background-image: url("/static/img/leopard.jpg");
  background-position-x: 40%;
}
.showcase2 {
  background-image: url("/static/img/indian-peafowl-50515_1280.jpg");
  background-position-x: 50%;
}
.showcase3 {
  background-image: url("/static/img/Kingfisher-bird-with-caught-fish.jpg");
  background-position-x: 40%;
}
.showcase4 {
  background-image: url("/static/img/gangetic-dolphin.jpg");
  background-position-x: 70%;
}
.showcase5 {
  background-image: url("/static/img/waldemar-sal8IZj3SnU-unsplash.jpg");
  background-position-x: 45%;
}
.showcase6 {
  background-image: url("/static/img/wp9234160.webp");
  background-position-x: 45%;
}

.showcase {
  flex: 1;
  background-size: cover;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 1px 1px 30px hsl(194, 64%, 72%);
  transition: 0.5s cubic-bezier(0.34, -0.36, 0.19, -0.32);

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.showcase.open-active span:not(.name) {
  transition: 0.5s;
  transform: translateY(0%)
}

.showcase span {
  flex: 1;
  display: inline-flex;
  align-items: center;

  /* transform: translateY(1000%) */
}

.showcase span:not(.name) {
  transition: 0.5s;
  transform: translateY(500%);
}

.showcase.open {
  flex: 3;
  transition: 0.5s cubic-bezier(0.34, -0.36, 0.19, -0.32);
}