* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: inherit;
  height: inherit;
}

.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.showcase1 {
  background-image: url("/static/img/leopard.jpg");
  background-position-x: 40%;
}
.showcase2 {
  background-image: url("/static/img/indian-peafowl-50515_1280.jpg");
  background-position-x: 50%;
}
.showcase3 {
  background-image: url("/static/img/Kingfisher-bird-with-caught-fish.jpg");
  background-position-x: 40%;
}
.showcase4 {
  background-image: url("/static/img/gangetic-dolphin.jpg");
  background-position-x: 70%;
}
.showcase5 {
  background-image: url("/static/img/waldemar-sal8IZj3SnU-unsplash.jpg");
  background-position-x: 45%;
}
.showcase6 {
  background-image: url("/static/img/wp9234160.webp");
  background-position-x: 45%;
}

.showcase {
  flex: 1;
  background-size: cover;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 1px 1px 30px hsl(194, 64%, 72%);
}

.showcase.open {
  flex: 3 1;
  transition: 0.5s;
  ;
}
